.matchup {
  outline-color: black;
  outline-style: solid;
  display: flex;
  min-width: 20px;
  margin: 10px;
  justify-content: space-around;
}

.entry {
  min-width: 10em;
}

.score {
  vertical-align: middle;
  text-align: center;
  margin-left: 10px;
}
